# .env

# MongoDB connection string
MONGODB_URI=mongodb://localhost:27017/your-database-name

# Nodemailer configuration
# .env

# Gmail SMTP configuration
HOST = smtp.gmail.com
PORT = 587
USER = aryaristote@gmail.com
PASS = vhnwbhajemrwmamu


# Secret key for generating JWT tokens
JWT_SECRET=Bolingo@defaultpass
